In [60]:
import pandas as pd
import numpy as np
from datetime import datetime

In [48]:
#Read two data files
data = pd.read_csv("Maggi-1.csv")
data2 = pd.read_csv("Maggi-2pack.csv")

In [49]:
#Merge two data files
maggie = pd.concat([data,data2])

In [50]:
maggie.head()

,stars,comment,date
0,1.0 out of 5 stars,\n\n\n\n\n\n\n\n\n\n \n \n \n Family fun...,Reviewed in India on 2 November 2018
1,1.0 out of 5 stars,\n\n\n\n\n\n\n\n\n\n \n \n \n The produc...,Reviewed in India on 16 January 2019
2,1.0 out of 5 stars,\n\n\n\n\n\n\n\n\n\n \n \n \n This produ...,Reviewed in India on 29 November 2017
3,1.0 out of 5 stars,\n\n\n\n\n\n\n\n\n\n \n \n \n Can you us...,Reviewed in India on 13 September 2019
4,5.0 out of 5 stars,\n\n\n\n\n\n\n\n\n\n \n \n \n Maggi is c...,Reviewed in India on 9 June 2019

In [51]:
maggie.shape

(4570, 3)

In [52]:
#Data cleaning 
#1. 'Stars' column -- just need the ratings, "out of 5 stars" needs to be removed.
#2. "Comment" column -- remove extra space in front of the comment text
#3. "date" column -- keep the date. Remove everything else.

In [53]:
#Step 1: Clean the "stars" column
maggie["stars"] = maggie["stars"].str.extract('([0-9]+)', expand = False)
maggie["stars"] = maggie["stars"].str.strip()
maggie["stars"] = maggie["stars"].astype("int")

In [54]:
#Step 2: Remove the leading and trailing white spaces from the "comment" column

maggie["comment"] = maggie["comment"].str.strip()

In [56]:
#Step 3: Extract the date from the third column
maggie["date"] = maggie["date"].str.replace("Reviewed in India on ", "")
maggie["date"] = maggie["date"].str.replace(" ", "/")
maggie["date"] = pd.to_datetime(maggie["date"], format='%d/%B/%Y')

In [67]:
#Putting columns in appropriate formats
maggie.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4570 entries, 0 to 1739
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   stars    4570 non-null   int64
 1   comment  4570 non-null   object
 2   date     4570 non-null   datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 142.8+ KB

In [68]:
maggie.head()

   stars                                            comment       date
0      1  Family fun pack! They supposedly forgot to men... 2018-11-02
1      1  The product is expired or something is very wr... 2019-01-16
2      1  This product was supplied in damaged condition... 2017-11-29
3      1  Can you use a product when it is tasted by mou... 2019-09-13
4      5  Maggi is called national food of India, lol. I... 2019-06-09

In [74]:
maggie.to_csv(r'/Users/shreyaagarwal/GoogleDrive/HILProjects/Maggie-Reviews/ProductReviews/amazon_user_reviews/spiders/maggie.csv', index=False)