In [51]:
import pandas as pd
import numpy as np
from datetime import datetime

In [52]:
#Read two data files
#data = pd.read_csv("reviews1.csv")
#data2 = pd.read_csv("review2.csv")

In [53]:
#Merge two data files
#maggie = pd.concat([data,data2])
maggie = pd.read_csv("earphonesReviews.csv")

In [54]:
maggie.head()

,stars,comment,date
0,3.0 out of 5 stars,\n\n\n\n\n\n\n\n\n\n \n \n \n Product go...,Reviewed in India on 3 April 2019
1,5.0 out of 5 stars,\n\n\n\n\n\n\n\n\n\n \n \n \n if it is R...,Reviewed in India on 13 October 2018
2,1.0 out of 5 stars,\n\n\n\n\n\n\n\n\n\n \n \n \n Sound Qual...,Reviewed in India on 1 August 2019
3,1.0 out of 5 stars,\n\n\n\n\n\n\n\n\n\n \n \n \n Well sorry...,Reviewed in India on 23 April 2019
4,2.0 out of 5 stars,\n\n\n\n\n\n\n\n\n\n \n \n \n The earpho...,Reviewed in India on 22 February 2019

In [55]:
maggie.shape

(4990, 3)

In [56]:
#Data cleaning 
#1. 'Stars' column -- just need the ratings, "out of 5 stars" needs to be removed.
#2. "Comment" column -- remove extra space in front of the comment text
#3. "date" column -- keep the date. Remove everything else.

In [57]:
#Step 1: Clean the "stars" column
maggie["stars"] = maggie["stars"].str.extract('([0-9]+)', expand = False)
maggie["stars"] = maggie["stars"].str.strip()
maggie["stars"] = maggie["stars"].astype("int")

In [58]:
#Step 2: Remove the leading and trailing white spaces from the "comment" column

maggie["comment"] = maggie["comment"].str.strip()

In [59]:
#Step 3: Extract the date from the third column
maggie["date"] = maggie["date"].str.replace("Reviewed in India on ", "")
maggie["date"] = maggie["date"].str.replace(" ", "/")
maggie["date"] = pd.to_datetime(maggie["date"], format='%d/%B/%Y')

In [60]:
#Putting columns in appropriate formats
maggie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4990 entries, 0 to 4989
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   stars    4990 non-null   int64
 1   comment  4990 non-null   object
 2   date     4990 non-null   datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 117.1+ KB

In [61]:
maggie.head()

   stars                                            comment       date
0      3  Product got delivered on 03-Feb-2019. Micropho... 2019-04-03
1      5  if it is Rs.2000 as original price instead of ... 2018-10-13
2      1  Sound Quality:Sound quality is excellent it's ... 2019-08-01
3      1  Well sorry to say that  the sound quality is g... 2019-04-23
4      2  The earphones don't fit my ears!Within 2 hours... 2019-02-22

In [62]:
#maggie.to_csv(r'/Users/shreyaagarwal/GoogleDrive/HILProjects/Maggie-Reviews/ProductReviews/amazon_user_reviews/spiders/maggie.csv', index=False)

In [63]:
maggie.to_csv(r'/Users/shreyaagarwal/GoogleDrive/HILProjects/Maggie-Reviews/ProductReviews/amazon_user_reviews/spiders/earphones.csv', index=False)